body {
  padding: 60px 0;
  background: #ffffff;
}

.footer {
 padding-top: 30px;
}

.error {
  color: red;
  font-size: .8em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}