{% extends "base.html" %}
{% block head %}
    {{ super() }}
{% endblock %}


{% block content %}
<div class="container">
    {% for name, cont in userinfo.iteritems()  %}
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="pull-left">
                <img src="static/img/larry_summers.jpg" alt="{{ cont['alt']}}" class="img-circle">
            </a>
        </div>
        <div class="col-md-8">
            <p align="center">
                {{ cont['content'] }}
                A pythonista by nature. Loves to hack to bits<br>
                I love all this stuff<br>
                We need to get some more content here<br>
                linkedin page: BlahBlah<br>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
