{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h2>Hello Guys!</h2>
        </div>
            
    </div>
</div>
{% endblock %}