{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="pull-left">
                <img src="static/img/larry_summers.jpg" alt="" class="img-circle">
            </a>
        </div>
        <div class="col-md-8">
            <p align="center">
                A pythonista by nature. Loves to hack to bits<br>
                I love all this stuff<br>
                We need to get some more content here<br>
                linkedin page: BlahBlah<br>
            </p>
        </div>
    </div>
</div>
{% endblock %}